<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182315944854-plnmu4kh0v5hd4j4l8k810m1bsrvkgtl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182315944854-plnmu4kh0v5hd4j4l8k810m1bsrvkgtl</string>
	<key>API_KEY</key>
	<string>AIzaSyAxerOeLsS0Hm5Sh2bE2wJ_JVwE3D3FVVs</string>
	<key>GCM_SENDER_ID</key>
	<string>182315944854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leeo.BamiLog</string>
	<key>PROJECT_ID</key>
	<string>bamilog</string>
	<key>STORAGE_BUCKET</key>
	<string>bamilog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182315944854:ios:d2f508aac1dff7f9c8ebb7</string>
	<key>DATABASE_URL</key>
	<string>https://bamilog-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>